html {
  scroll-behavior: smooth;
}

.header-container {
  width: 100%;
  min-width: 320px;
  position: absolute;
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.14) 0%,
    rgba(153, 153, 153, 0.14) 100%
  );
  z-index: 2;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: white;
  fill: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.nav-menu-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo {
  width: 68px;
  height: 65px;
}

.btn-menu {
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-menu-icon {
  fill: #fbfbfb;
  display: block;
}
