.partners {
  position: relative;
  overflow: hidden;
  min-height: 495px;
  height: auto;
  max-width: 100%;
  padding: 28px 20px 0px 20px;
  margin: 0 auto;
  min-width: 320px;
  background: #001d05;
}

.partners-back-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 100%;
  filter: blur(75px);
  pointer-events: none;
  overflow: hidden;
}

.section-with-top-border {
  position: relative;
  padding-top: 10px;
}

.section-with-top-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #001d05 0%, #f5f5f5 55%, #001d05 100%);
}
