<section class="competitions">
  <svg class="comp-back-icon" preserveAspectRatio="xMidYMid meet">
    <use href="..//img/icons.svg#icon-group-49"></use>
  </svg>
  <div class="competitions-container">
    <h1 class="title-compt">Змагання</h1>
    <div class="table">
      <div class="year-buttons">
        <button class="year-btn" data-year="2022">2022</button>
        <button class="year-btn" data-year="2023">2023</button>
        <button class="year-btn" data-year="2024">2024</button>
        <button class="year-btn" data-year="2025">2025</button>
        <button class="year-btn" data-year="2026">2026</button>
      </div>

      <div class="competitions-table">
        <table id="competitions-table-cont">
          <thead>
            <tr>
              <th class="table-box">Дата<span class="right-line"></span></th>
              <th class="table-box">Місто<span class="right-line"></span></th>
              <th class="table-box">
                Назва змагань<span class="right-line"></span>
              </th>
              <th class="table-box">Посилання</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-box-body">
                30-01.06.2025<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Київ<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Відкритий Чемпіонат міста Києва<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                <a href=""
                  >Посилання<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg></a
                ><br /><a href=""
                  >Фото<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg
                ></a>
              </td>
            </tr>
            <tr>
              <td class="table-box-body">
                30-01.06.2025<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Київ<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Відкритий Чемпіонат міста Києва<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                <a href=""
                  >Посилання<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg></a
                ><br /><a href=""
                  >Фото<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg
                ></a>
              </td>
            </tr>
            <tr>
              <td class="table-box-body">
                30-01.06.2025<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Київ<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Відкритий Чемпіонат міста Києва<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                <a href=""
                  >Посилання<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg></a
                ><br /><a href=""
                  >Фото<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg
                ></a>
              </td>
            </tr>
            <tr>
              <td class="table-box-body">
                30-01.06.2025<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Київ<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Відкритий Чемпіонат міста Києва<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                <a href=""
                  >Посилання<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg></a
                ><br /><a href=""
                  >Фото<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg
                ></a>
              </td>
            </tr>
            <tr>
              <td class="table-box-body">
                30-01.06.2025<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Київ<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Відкритий Чемпіонат міста Києва<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                <a href=""
                  >Посилання<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg></a
                ><br /><a href=""
                  >Фото<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg
                ></a>
              </td>
            </tr>
            <tr>
              <td class="table-box-body">
                30-01.06.2025<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Київ<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                Відкритий Чемпіонат міста Києва<span class="right-line"></span>
              </td>
              <td class="table-box-body">
                <a href=""
                  >Посилання<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg></a
                ><br /><a href=""
                  >Фото<svg class="link-copmt">
                    <use href="../img/icons.svg#arrow"></use></svg
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <button class="prev-btn">«</button>
        <div class="page-buttons"></div>
        <button class="next-btn">»</button>
      </div>
    </div>
  </div>
  <script type="module" src="../js/competitions.js"></script>
</section>
