<section class="footer">
  <svg class="footer-back-icon" preserveAspectRatio="xMidYMid meet">
    <use href="..//img/icons.svg#icon-group-47"></use>
  </svg>
  <div class="footer-container">
    <div class="nav-cont">
      <a href="" class="footer-title-link"
        >Асоціація спортивних танців міста Києва</a
      >
      <div class="nav-link-box">
        <p class="footer-nav-link">/ ПРО НАС</p>
        <p class="footer-nav-link">/ НОВИНИ</p>
        <p class="footer-nav-link">/ ЗМАГАННЯ</p>
      </div>
    </div>
    <div class="middle-container">
      <a href="" class="footer-social"></a>
      <a href="" class="footer-social"></a>
      <address class="adr-link">
        <ul>
          <li><a href="tell:+380505555555">+380 (50) 555 - 55 - 55</a></li>
          <li><a href="mailto:mail@gmail.com">mail@gmail.com</a></li>
        </ul>
      </address>
    </div>
    <p class="info-link">
      <a href="">Політика конфіденційності</a> <br />|
      <a href="">АСТМК © 2025</a>
    </p>
  </div>
</section>
