<header class="header">
  <div class="container header-container">
    <nav class="nav-menu">
      <a href="" class="nav-menu-logo">
        <img class="header-logo" src="../img/astmk_logo.png" alt="Logo" />
      </a>

      <ul class="nav-header-link">
        <li class="nav-link current">Про нас</li>
        <li>/</li>
        <li class="nav-link">Змагання</li>
        <li>/</li>
        <li class="nav-link">Новини</li>
        <li>
          <svg class="social" width="32" height="32">
            <use href="../img/icons.svg#instagram"></use>
          </svg>
        </li>
        <li>
          <svg class="social" width="32" height="32">
            <use href="../img/icons.svg#facebook"></use>
          </svg>
        </li>
      </ul>

      <button
        name="open-menu"
        type="button"
        class="btn-menu js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="btn-menu-icon" width="32" height="32">
          <use href="../img/icons.svg#burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
