<section class="informations">
  <svg class="info-back-icon" preserveAspectRatio="xMidYMid meet">
    <use href="..//img/icons.svg#icon-group-18"></use>
  </svg>
  <div class="informations-container">
    <ul class="info-nav">
      <li class="info-btn">
        <div class="info-btn-toggle" role="button" tabindex="0">
          <h2 class="info-btn-title">Історія</h2>
          <div class="info-btn-body">
            <p class="text-indent">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. <br />Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum. <br />Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </li>
      <li class="info-btn">
        <div class="info-btn-toggle" role="button" tabindex="0">
          <h2 class="info-btn-title">Правління</h2>
          <div class="info-btn-body">
            <ul class="card">
              <li class="card-cont">
                <img class="img-founder" src="../img/tom.jpg" alt="" />
                <div class="founder-card">
                  <h3 class="founder-card-title">Tom Ford</h3>
                  <p class="founder-card-inf">Founder</p>
                </div>
              </li>
              <li class="card-cont">
                <img class="img-founder" src="../img/tom.jpg" alt="" />
                <div class="founder-card">
                  <h3 class="founder-card-title">Tom Ford</h3>
                  <p class="founder-card-inf">Founder</p>
                </div>
              </li>
              <li class="card-cont">
                <img class="img-founder" src="../img/tom.jpg" alt="" />
                <div class="founder-card">
                  <h3 class="founder-card-title">Tom Ford</h3>
                  <p class="founder-card-inf">Founder</p>
                </div>
              </li>
              <li class="card-cont">
                <img class="img-founder" src="../img/tom.jpg" alt="" />
                <div class="founder-card">
                  <h3 class="founder-card-title">Tom Ford</h3>
                  <p class="founder-card-inf">Founder</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="info-btn">
        <div class="info-btn-toggle" role="button" tabindex="0">
          <h2 class="info-btn-title">Правила</h2>
          <div class="info-btn-body third-inf">
            <a href="#" class="rules-link">
              <p class="text-rules">Правила змагань</p>
              <svg class="down-rules">
                <use href="../img/icons.svg#arrow"></use>
              </svg>
            </a>
            <a href="#" class="rules-link">
              <p class="text-rules">Правила змагань</p>
              <svg class="down-rules">
                <use href="../img/icons.svg#arrow"></use>
              </svg>
            </a>
            <a href="#" class="rules-link">
              <p class="text-rules">Правила змагань</p>
              <svg class="down-rules">
                <use href="../img/icons.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="info-btn">
        <div class="info-btn-toggle" role="button" tabindex="0">
          <h2 class="info-btn-title">Контакти</h2>
          <div class="info-btn-body">
            <address class="address">
              <a class="address-link" href="tel:+380555555555"
                >+380 (55) 555-55-55</a
              >
              <a href="maillto:mail@gmail.com" class="address-link">
                mail@gmail.com
              </a>
            </address>
            <div class="map-social">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1270.756148257202!2d30.5190687!3d50.4315577!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf1d48ac80b9%3A0x61cd7a41c6715936!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIg0YTRltC30LjRh9C90L7Qs9C-INCy0LjRhdC-0LLQsNC90L3RjyDRliDRgdC_0L7RgNGC0YMg0KPQutGA0LDRl9C90Lg!5e0!3m2!1suk!2sua!4v1744707682898!5m2!1suk!2sua"
                width="284"
                height="180"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
              <a class="social" href="#"
                ><svg class="social-icon">
                  <use href="../img/icons.svg#instagram"></use></svg
              ></a>
              <a class="social" href="#"
                ><svg class="social-icon">
                  <use href="../img/icons.svg#facebook"></use></svg
              ></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
